{% extends "bootstrap_5_layout.html" %}
{% set active_page = "about" %}

{% block content %}

  <div id="aboutPage">
  <!--
    <h2 class="underline">Why the Innovo Social Media Scraper?</h2>
    div class="aboutList" id="importantAboutList">
      <ul>
        <li style>Free and simple to use</li>
        <li style>Complies with Terms and Conditions of social media platforms </li>
        <li style>Automatically cleans data</li>
        <li style>Formats for Tableau files</li>
      </ul>
    </div>
  -->
    <h2 id="about">About</h2>
    <p>
       <i>
        By 2022, 90% of corporate strategies will explicitly mention information as a critical enterprise asset and 
        analytics as an essential competency. <a href="https://www.gartner.com/smarterwithgartner/why-data-and-analytics-are-key-to-digital-transformation" target="_blank">- Gartner</a>
      </i>
    </p>
    <p>
      Innovo Web Apps is a suite of publicly available, business intelligence tools. Our mission is to provide high quality 
      data and analytics tools to small businesses and student consultants. Our tools include:
    </p>
    <br>
    <div class="aboutList" id="importantAboutList">
      <ul>
        <li style><b>Yelp Data Aggregator:</b> collect data on 50 local businesses for competitor analysis.</li>
        <li style><b>Twitter Data Aggregator:</b> collect data on 500 tweets for social media analysis.</li>
        <li style><b>New York Times Data Aggregator:</b> collect data on 100 news articles for industry analysis.</li>
        <li style><b>USA Census Dashboard:</b> visualize industry growth, firm sizes, and competition.</li>
        <li style><b>Financial Statements:</b> income statement, balance sheet, and cash flow statement. Financial ratios are calculated automatically.</li>
        <li style id=liMarketingTools><b>Marketing Templates:</b> Excel file to organize social media strategy and post templates.</li>
      </ul>
    </div>
    <p>
      This site was created by Innovo Consulting, a pro-bono, student-run consulting agency operating at Georgetown University.
    </p>
    <p>
      Innovo Web Apps was founded by Will Nemoy, a junior at Georgetown's business school and an incoming 
      Business Intelligence Engineer at Amazon. Innovo would like to thank the following students for their significant contributions:
    </p>
    <div class="aboutList" id="importantAboutList">
      <ul>
        <li style id=liSherif><b>Sherif Abdelwadood</b> - Financial Statements</li>
        <li style id=liNoah><b>Noah Rudick</b> - Marketing Tools</li>
      </ul>
    </div>
    
    <!--
    <h2 class="underline">Explanation of Data</h2>
    <h3 class="Twitter">Twitter</h3>
    <div class="aboutList">
        <ul>
          <li style>Post Number: number of post from newest to oldest</li>
          <li style>Date: date when the post was published</li>
          <li style>Time: time when the post was published</li>
          <li style>Weekday: day of the week the post was published</li>
          <li style>Likes: number of likes the post has received</li>
          <li style>Retweets: number of retweets the post has received</li>
          <li style>Words: words in the post, seperated by spaces</li>
          <li style>Hashtags: words that start with "#"</li>
        </ul>
     </div>
    -->
  <!--
  <h2 class="underline">Who is Innovo Consulting?</h2>
    <p>Hello! My name is Will. I am a member of Innovo Consulting, an undergraduate consulting club at Georgetown University. We provide consulting services for social impact companies and non-profits. <br><br> As a student, I was disappointed by the lack of accessible social media data. Using a web scraper is one option to collect social media data, but breaks the Terms and Conditions of social media platforms. Using social media APIs is another option, but requires learning code and deciphering lengthy API documentations. <br><br> Thus, the Innovo Social Media Scraper was born! This web application is free, and scrapes social media accounts and keywords with only a few clicks. The data is cleaned and formatted for Tableau analysis, and data is collected using social media APIs to ensure compliance with platforms' Terms and Conditions. I hope you enjoy this application!</p>
    -->
    <center>
      <a href="/privacypolicy" target="_blank" class="btn btn-secondary">Privacy Policy</a>
    </center>
    <script src="script.js"></script>
</div>

{% endblock %}
