{% extends "bootstrap_5_layout.html" %}
{% set active_page = "about" %}

{% block content %}

  <div id="aboutPage">
    <h2 id="about">About</h2>
    <p>
       <i>
        By 2022, 90% of corporate strategies will explicitly mention information as a critical enterprise asset and 
        analytics as an essential competency. <a href="https://www.gartner.com/smarterwithgartner/why-data-and-analytics-are-key-to-digital-transformation" target="_blank">- Gartner</a>
      </i>
    </p>
    <p>
      Open BI is a suite of publicly available, business intelligence tools. Our mission is to provide high quality 
      data and analytics tools to small businesses and student consultants. Our tools include:
    </p>
    <br>

    <div class="aboutList" id="importantAboutList">
      <ul>
        <li style><b>Yelp Data Aggregator:</b> collect data on 50 local businesses for competitor analysis.</li>
        <li style><b>Twitter Data Aggregator:</b> collect data on 500 tweets for social media analysis.</li>
        <li style><b>New York Times Data Aggregator:</b> collect data on 100 news articles for industry analysis.</li>

      </ul>
    </div>
    <br>
    <p>
      Open BI was created by Will Nemoy, a junior at Georgetown's McDonough School of Business.
    </p>
    
    <script src="script.js"></script>
</div>

{% endblock %}
