{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}

{% block content %}

<center>

<div id="container_home">
  <h1 id="index_header">Open Business Intelligence</h1>
  <p id="index_info">Publicly available data collectors for small businesses.</p>
    <a href = "/yelpAPI"><img id="Icon" src="{{ url_for("static", filename="Yelp Button.svg")}}"/></a>

    <a href = "/twitterAPI"><img id="Icon" src="{{ url_for("static", filename="Twitter Data Button.svg")}}"/></a> 
   
    <a href = "/NYTAPI"><img id="Icon" src="{{ url_for("static", filename="NYTimes Button.svg")}}"/></a>

</div>
<script src="script.js"></script>
</center>

{% endblock %}
  

