<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Innovo Web Tools</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" >
    <link href="{{ url_for("static", filename="css/style.css")}}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- EVENTUALLY REPLACE with: Home, Support, Contact, About-->
    <nav>
      <a href="/home">Home</a>
      <a href="/tableau">Tableau Examples</a>
      <a href="https://www.innovoconsulting.org" target="_blank">Innovo Consulting</a>
      <a href="/about">About</a> 
    </nav>

    <!-- PAGE CONTENTS -->
      {% block content %}
      {% endblock %}

    <!-- FOOTER -->
      <img id="curve" src="{{ url_for("static", filename="layered-waves-haikei.svg")}}">
    
  </body>
</html>